@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
}

/**
   Плавный скролл
  */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /**
     Унифицированный интерлиньяж
    */
  line-height: 1.5;
}

/**
   Приводим к единому цвету svg-элементы
  */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-primary: #ff7757;
  --color-primary-light: #ffd2c7;
  --color-secondary: #61291c;
  --color-secondary-dark: #331811;
  --color-light: #fff;
  --color-dark: #172432;
  --color-yellow: #ffc107;
  --color-yellow-light: #fff8f1;
  --color-gray: #767e86;
  --border-radius-xl: 26px;
  --border-radius-large: 20px;
  --border-radius-medium: 16px;
  --border-radius-small: 12px;
  --font-family-base: "Rubik", sans-serif;
  --font-family-accent: "Playfair Display", serif;
  --font-family-alt: "Mulish", sans-serif;
  --container-padding-x: 16px;
  --transition-duration: 0.2s;
}
@media (min-width: 320px) {
  :root {
    --container-padding-x: 20px;
  }
}
@media (min-width: 768px) {
  :root {
    --container-padding-x: 32px;
  }
}

.container {
  max-width: 100%;
  padding-inline: var(--container-padding-x);
}
@media (min-width: 1920px) {
  .container {
    max-width: 1556px;
    padding-inline: 0;
    margin-inline: auto;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 1151px) {
  .hidden-desktop {
    display: none !important;
  }
}

@media (min-width: 1152px) {
  .visible-desktop {
    display: none !important;
  }
}

body {
  position: relative;
  font-size: 18px;
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-dark);
  background-color: var(--color-light);
}
@media (min-width: 1152px) {
  body {
    font-size: 24px;
  }
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  font-family: var(--font-family-accent);
}

h1 {
  font-size: 40px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 54px;
  }
}
@media (min-width: 1152px) {
  h1 {
    font-size: 64px;
  }
}
@media (min-width: 1440px) {
  h1 {
    font-size: 84px;
  }
}

h2 {
  font-size: 40px;
}
@media (min-width: 768px) {
  h2 {
    font-size: 54px;
  }
}
@media (min-width: 1152px) {
  h2 {
    font-size: 64px;
  }
}

h3 {
  font-size: 40px;
}
@media (min-width: 768px) {
  h3 {
    font-size: 54px;
  }
}

.header {
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;
  color: var(--color-light);
  font-size: 20px;
}
@media (min-width: 320px) {
  .header {
    top: 32px;
  }
}
.header__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
}
@media (min-width: 1440px) {
  .header__inner {
    column-gap: 107px;
  }
}
.header__logo {
  flex-shrink: 0;
}
@media (min-width: 768px) {
  .header__logo img {
    width: 234px;
    height: 46px;
  }
}
.header__menu {
  order: 1;
  flex: 0 1 100%;
}
@media (min-width: 1152px) {
  .header__menu {
    order: 0;
    flex: 0 0 auto;
  }
}
.header__menu-list {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
}
.header__menu-link {
  padding-block: 4px;
}
@media (hover: hover) {
  .header__menu-link:hover {
    font-weight: 500;
    border-bottom: 3px solid var(--color-primary);
  }
}
@media (hover: none) {
  .header__menu-link:active {
    font-weight: 500;
    border-bottom: 3px solid var(--color-primary);
  }
}
.header__controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 14px;
}
.header__button-primary {
  width: 135px;
  padding-inline: 32px;
  border-radius: var(--border-radius-small);
}

.button {
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 22px;
  outline: none;
}
@media (hover: hover) {
  .button:hover {
    color: var(--color-primary);
  }
}
@media (hover: none) {
  .button:active {
    color: var(--color-primary);
  }
}
.button-primary {
  background-color: var(--color-primary);
  color: var(--color-light);
}
@media (hover: hover) {
  .button-primary:hover {
    opacity: 0.8;
    color: var(--color-light);
  }
}
@media (hover: none) {
  .button-primary:active {
    opacity: 0.8;
    color: var(--color-light);
  }
}
.button-dark {
  background-color: var(--color-dark);
}
@media (hover: hover) {
  .button-dark:hover {
    opacity: 0.8;
    color: var(--color-light);
  }
}
@media (hover: none) {
  .button-dark:active {
    opacity: 0.8;
    color: var(--color-light);
  }
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;
}
@media (hover: hover) {
  .burger-button:hover {
    opacity: 0.8;
  }
}
@media (hover: none) {
  .burger-button:active {
    opacity: 0.8;
  }
}
.burger-button span {
  height: 2px;
  width: 38px;
  transform: scale(1);
  background-color: var(--color-light);
}
.burger-button::before, .burger-button::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 38px;
  background-color: var(--color-light);
}
.burger-button::before {
  top: 14px;
}
.burger-button::after {
  bottom: 14px;
}

.mobile__overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 16px;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-light);
}
.mobile__overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile__overlay__close-button-wrapper {
  display: flex;
  justify-content: end;
}
.mobile__overlay-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  min-height: 80vh;
}
.mobile__overlay-item {
  padding: 10px 4px;
}
@media (hover: hover) {
  .mobile__overlay-link:hover {
    border-bottom: 3px solid var(--color-light);
  }
}
@media (hover: none) {
  .mobile__overlay-link:active {
    border-bottom: 3px solid var(--color-light);
  }
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  aspect-ratio: 1;
  outline: none;
  position: relative;
}
@media (hover: hover) {
  .cross-button:hover {
    opacity: 0.2;
  }
}
@media (hover: none) {
  .cross-button:active {
    opacity: 0.2;
  }
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  top: 75%;
  right: 11px;
  width: 38px;
  height: 2px;
  background-color: var(--color-light);
}
.cross-button::before {
  transform: rotate(45deg);
}
.cross-button::after {
  transform: rotate(-45deg);
}

.hero {
  padding-block: 200px 100px;
  background: url(".././images/hero/hero-320.png") center/cover no-repeat;
  color: var(--color-light);
}
@media (min-width: 320px) {
  .hero {
    background-image: url("../../images/hero/hero-768.png");
  }
}
@media (min-width: 768px) {
  .hero {
    background-image: url(".././images/hero/hero-1152.png");
  }
}
@media (min-width: 1152px) {
  .hero {
    padding-top: 270px;
    background-image: url(".././images/hero/hero-1440.png");
  }
}
@media (min-width: 1440px) {
  .hero {
    background-image: url(".././images/hero/hero-1920.webp");
  }
}
.hero__title {
  margin-bottom: 16px;
}
.hero__description {
  margin-bottom: 100px;
}

.book-now {
  width: 100%;
  background-color: var(--color-light);
  color: var(--color-gray);
  border-radius: var(--border-radius-medium);
  font-size: 14px;
}
@media (min-width: 768px) {
  .book-now {
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 0 var(--border-radius-medium) var(--border-radius-medium) 0;
    margin-left: calc(var(--container-padding-x) * -1);
  }
}
@media (min-width: 1920px) {
  .book-now {
    margin-left: calc((100vw - 1556px) / -2);
  }
}
@media (min-width: 768px) {
  .book-now__form-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.book-now__form-body {
  padding: 20px 20px 80px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
}
@media (min-width: 768px) {
  .book-now__form-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 32px 100px 32px 23px;
  }
}
@media (min-width: 1152px) {
  .book-now__form-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 40px;
  }
}
.book-now__button {
  width: 100%;
  padding-block: 40px;
  justify-content: space-between;
  align-items: center;
  font-size: 36px;
  font-family: var(--font-family-accent);
  border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
}
@media (min-width: 768px) {
  .book-now__button {
    width: 170px;
    border-radius: 0 var(--border-radius-medium) var(--border-radius-medium) 0;
  }
}
.book-now__button svg {
  width: 21px;
  height: auto;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  border-bottom: 1px solid #000;
}
@media (hover: hover) {
  .field:hover {
    border-bottom: 1px solid var(--color-primary);
  }
}
@media (hover: none) {
  .field:active {
    border-bottom: 1px solid var(--color-primary);
  }
}
.field__label {
  text-transform: uppercase;
}
.field__input {
  outline: none;
  border: none;
  padding-bottom: 10px;
  background-color: var(--color-light);
  color: var(--color-dark);
}
.field__input:focus {
  color: var(--color-primary);
}
.field__input::placeholder {
  color: var(--color-dark);
}
.field__input-down {
  background: url(.././images/icons/chevron-down.svg) right/24px no-repeat;
}

.section:not(:last-child) {
  margin-bottom: 80px;
}
@media (min-width: 1152px) {
  .section:not(:last-child) {
    margin-bottom: 100px;
  }
}
@media (min-width: 1440px) {
  .section:not(:last-child) {
    margin-bottom: 140px;
  }
}
.section__header {
  margin-bottom: 100px;
}
.section__title {
  display: inline-block;
  padding-bottom: 20px;
  margin-bottom: 32px;
  position: relative;
}
.section__title:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: var(--color-primary);
}
@media (min-width: 768px) {
  .section__title:after {
    width: 70%;
  }
}
.section__description {
  color: var(--color-gray);
}
@media (min-width: 768px) {
  .section__description {
    max-width: 744px;
  }
}
@media (min-width: 1440px) {
  .section__description {
    max-width: unset;
  }
}
.section__body {
  position: relative;
}
.section__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 40px;
  margin-top: 100px;
}
@media (min-width: 1152px) {
  .section__controls {
    position: absolute;
    top: -166px;
    right: var(--container-padding-x);
    margin-top: 0;
  }
}
@media (min-width: 1920px) {
  .section__controls {
    right: calc((100vw - 1556px) / 2);
  }
}
.section__button {
  margin: 0;
  position: relative;
  width: 60px;
  height: 66px;
  border-radius: var(--border-radius-small);
}
.section__button::after, .section__button::before {
  display: none;
}

.popular {
  position: relative;
  color: var(--color-light);
  margin-right: calc(var(--container-padding-x) * -1);
}
@media (min-width: 1920px) {
  .popular {
    margin-right: calc((100vw - 1556px) / -2);
  }
}
.popular__link {
  display: block;
  color: var(--color-light);
}
@media (min-width: 768px) {
  .popular__item {
    min-width: unset;
    width: auto;
    max-width: 497px;
  }
}
.popular__card {
  position: relative;
  width: 100%;
  height: 100vw;
  max-height: 456px;
  overflow: hidden;
  border-radius: var(--border-radius-medium);
}
@media (min-width: 320px) {
  .popular__card {
    border-radius: var(--border-radius-xl);
  }
}
@media (min-width: 768px) {
  .popular__card {
    width: 497px;
    height: 661px;
    max-height: unset;
  }
}
.popular__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popular__description {
  position: absolute;
  left: 20px;
  bottom: 40px;
}
.popular__name {
  margin-bottom: 16px;
}
.popular__location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 16px;
}/*# sourceMappingURL=styles.css.map */