body {
  position: relative;
  font-size: 18px;
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-dark);
  background-color: var(--color-light);

  @include desktop-above {
    font-size: 24px;
  }
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  font-family: var(--font-family-accent);
}

h1 {
  font-size: 40px;

  @include tablet-above {
    font-size: 54px;
  }

  @include desktop-above {
    font-size: 64px;
  }

  @include desktop-l-above {
    font-size: 84px;
  }
}

h2 {
  font-size: 40px;

  @include tablet-above {
    font-size: 54px;
  }

  @include desktop-above {
    font-size: 64px;
  }
}

h3 {
  font-size: 40px;

  @include tablet-above {
    font-size: 54px;
  }
}
