.button {
  @include reset-button;
  color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 22px;

  @include hover {
    color: var(--color-primary);
  }

  &-primary {
    background-color: var(--color-primary);

    @include hover {
      opacity: 0.8;
      color: var(--color-light);
    }
  }
}
