.cross-button {
  @include reset-button;
  @include square(50px);

  position: relative;

  @include hover {
    opacity: 0.2;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 75%;
    left: -10px;
    width: 38px;
    height: 2px;
    background-color: var(--color-light);
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
