.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  border-bottom: 1px solid #000;

  @include hover {
    border-bottom: 1px solid var(--color-primary);
  }

  &__label {
    text-transform: uppercase;
  }

  &__input {
    outline: none;
    border: none;
    padding-bottom: 10px;
    background-color: var(--color-light);
    color: var(--color-dark);

    &:focus {
      color: var(--color-primary);
    }

    &::placeholder {
      color: var(--color-dark);
    }

    &-down {
      background: url(.././images/icons/chevron-down.svg) right/24px no-repeat;
    }
  }
}
