.offer {
  position: relative;

  &__link {
    display: block;
  }

  &__item {
    width: 100%;

    @include tablet-above {
      width: calc((100% - 32px) / 2);
    }

    @include desktop-above {
      width: calc((100% - 64px) / 3);
    }
  }

  &__card {
    position: relative;
    width: 100%;
  }

  &__header {
    width: 100%;
    height: 286px;
    overflow: hidden;
    background-color: rgba(255, 77, 57, 0.1);
    border-radius: var(--border-radius-xl) var(--border-radius-xl) 0 0;
  }

  &__image {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
  }

  &__description {
    background-color: var(--color-yellow-light);
    padding: 20px;
    border-radius: 0 0 var(--border-radius-xl) var(--border-radius-xl);
  }

  &__name {
    font-size: 28px;
    color: var(--color-gray);
    margin-bottom: 8px;
  }

  &__rating {
    margin-bottom: 24px;
  }

  &__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px;

    @include tablet-above {
      font-size: 18px;
      line-height: 1.2;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    @include tablet-above {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      column-gap: 20px;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 8px;
    color: var(--color-gray);
  }

  &__amount {
    font-size: 32px;
    color: var(--color-primary);
  }

  &__button {
    width: 127px;
    padding: 16px 24px;
    text-transform: uppercase;
    border-radius: var(--border-radius-small);
    font-size: 20px;
  }
}
