.planners {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    @include tablet-above {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }

    @include desktop-l-above {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__card {
    width: 100%;
  }

  &__cover {
    position: relative;
  }

  &__cover::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius-xl);
  }

  &__image {
    height: 320px;
    min-width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-xl);

    @include mobile-above {
      height: 350px;
    }
  }

  &__description {
    padding-block: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  &__subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
  }

  &__category {
    text-transform: uppercase;
  }

  &__title {
    font-size: 28px;
    font-weight: 500;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
  }
}
