.popular {
  position: relative;
  color: var(--color-light);

  @include tablet-above {
    margin-right: calc(var(--container-padding-x) * -1);
  }

  @include desktop-xl {
    margin-right: calc((100vw - 1556px) / -2);
  }

  &__link {
    display: block;
    color: var(--color-light);
  }

  &__item {
    @include tablet-above {
      min-width: unset;
      width: auto;
      max-width: 497px;
    }
  }

  &__card {
    position: relative;
    width: 100%;
    height: 100vw;
    max-height: 456px;
    overflow: hidden;
    border-radius: var(--border-radius-medium);

    @include mobile-above {
      border-radius: var(--border-radius-xl);
    }

    @include tablet-above {
      width: 497px;
      height: 661px;
      max-height: unset;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__description {
    position: absolute;
    left: 20px;
    bottom: 40px;
  }

  &__name {
    margin-bottom: 16px;
  }

  &__location {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 16px;
  }
}
