.subscribe__form {
  &-wrapper {
    padding: 40px 20px;
    background-color: var(--color-light);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    border-radius: var(--border-radius-large);
    display: flex;
    flex-direction: column;
    row-gap: 60px;

    @include tablet-above {
      padding: 40px;
    }

    @include desktop-above {
      padding-block: 60px;
      flex-direction: row;
      align-items: center;
      column-gap: 60px;
      margin-bottom: -118px;
      position: relative;
    }

    @include desktop-l-above {
      padding-inline: 80px;
      column-gap: 100px;
    }
  }

  &-title {
    color: var(--color-gray);
    width: 100%;
  }

  &-body {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    width: 100%;

    @include tablet-above {
      flex-direction: row;
      align-items: flex-end;
      column-gap: 32px;
    }
  }

  &-field {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 100%;
  }

  &-label {
    font-size: 20px;
    color: var(--color-gray);
  }

  &-input {
    background-color: var(--color-primary-light);
    border: none;
    outline: none;
    padding-block: 24px;
    text-align: center;
    border-radius: var(--border-radius-small);

    &::placeholder {
      color: var(--color-primary);
      font-size: 20px;
    }
  }

  &-button {
    padding-block: 24px;
    border-radius: var(--border-radius-small);
    width: 100%;
    font-size: 20px;
    text-align: center;

    @include tablet-above {
      width: 163px;
    }
  }
}
